.form-grid {
    display: grid;
}


button[type=submit]{
    color:white;
    background-color:deepskyblue;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-width: .2px;
    margin: 5px;
    float: right;
    border-radius: 12px;
    font-family: Helvetica, sans-serif;
}


input{
    width:100%;
    height: 25px;
    font-family: Helvetica, sans-serif;
    margin-bottom: 1em;
  }

textarea{
    width:100%;
    height: 75px;
    resize: vertical;
    overflow-y: scroll;
    font-family: Helvetica, sans-serif;
    margin-bottom: 1em;
}


