.container-fluid{
    width: 100%;
    padding: 0px, 5px, 5px, 5px;
    margin-bottom: 5px;
}
.row{
    font-weight: 700;
}
.row1{
    width:100%;
    min-height: 70px;
    padding: 5px;
    border-bottom-style: inset;
    display: inline-block;
}

.column{
    display:inline-block;
}

button{
    background-color:white;
    border:none;
    padding: 5px 10px;
    border-width: .2px;
    margin: 5px;
    position:static;
    margin-right: 5px;
    border-radius: 12px;
    float:right;
    cursor: pointer;
}

.likeButtonClass.false{
    color:springgreen;
}

.dislikeButtonClass.false{
    color:tomato;
}

.fa-thumbs-down{
    margin-left: 1em;

}